/* Flexbox Part 1 */
#flex-section1 ul {
	padding: 0px 10px 0px 10px; 
	display: flex;
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
  }
  
  #flex-section1 li {
	
  }
  
  #flex-section1 a.btn {
	text-decoration: none;
	background-color: #d31111; /* Background color for the buttons */
	color: #fff; /* Text color for the buttons */
	padding: 8px 16px 8px 16px;; /* Adjust padding as needed */
	border-radius: 5px; /* Rounded corners for the buttons */
  }

  
/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	padding: 0;
	list-style: none;
  }
  

#flex-section2 li {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}

#flex-section2 .item1 {
	order: 1;
}

#flex-section2 .item2 {
	order: 3;
}

#flex-section2 .item3 {
	order: 2;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display: flex;
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	flex-direction: column; /* Stack child elements vertically */
  }
  
  #flex-section3 .tags ul {
	list-style: none;
	padding: 0px 5px 0px 5px;
	display: flex;
	flex-wrap: wrap; /* Allow tags to wrap when there's not enough space */
	gap: 5px; /* Add some space between tags */
  }
  
  #flex-section3 .tags li {
	background-color: #dad6d6;
	padding: 3px;
	border-radius: 5px;
	margin: 2px;
  }
  

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: 100px;
  }
  
  #grid-section1 .greybox {
	background-color: lightgray;
	text-align: left;
	padding: 10px;
  }
  

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	grid-row: 1 / span 4;    /* Position the blue box in rows 1 and 3 */
	grid-column: 2 / span 2; /* Position the blue box in columns 2 and 3 */
	background-color: rgb(29, 29, 153);  /* Set background color to blue */
	opacity: 0.6;
	z-index: 1;              /* Ensure the blue box is on top */
  }
  
  #grid-section2 .gridboxred {
	grid-row: 2 / span 1;    /* Position the red box in rows 1 and 2 */
	grid-column: 1 / span 2; /* Position the red box in columns 1 and 2 */
	background-color: rgb(178, 45, 45);   /* Set background color to red */
	opacity: 0.8;
	z-index: 0;              /* Ensure the red box is below the blue box */
  }
  

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns: 2fr 1fr; /* 2 columns with a 2:1 ratio */
	grid-template-rows: 100px 300px 100px; /* 3 rows with specified heights */
	gap: 10px; /* 10px gap between rows and columns */
  }
  
  #grid-section3 .box1 {
	grid-row: 1 / span 1; /* Spans 2 rows (1 and 2) */
	grid-column: 1 / span 2; /* Spans 1 column (1) */
  }
  
  #grid-section3 .box2 {
	grid-row: 2 / span 1; /* Spans 1 row (2) */
	grid-column: 2 / span 1; /* Spans 1 column (2) */
  }
  
  #grid-section3 .box3 {
	grid-row: 2 / span 1; /* Spans 1 row (1) */
	grid-column: 1 / span 1; /* Spans 1 column (2) */
  }
  
  #grid-section3 .box4 {
	grid-row: 3 / span 1; /* Spans 1 row (3) */
	grid-column: 1 / span 2; /* Spans 2 columns (1 and 2) */
  }
  

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none;
	transition: background-color 3s ease, color 0.5s ease; /* Add transition properties */
  }
  
  #transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	transition: background-color 0.5s ease, color 0.5s ease; /* Add transition properties */
  }
  

/* end Transition Part */
