/* Flexbox Part 1 */
#flex-section1 ul {
	padding: 0px 10px 0px 10px; /* padding for the boxes view around text */
	display: flex; /* making it horizontal */
	list-style-type: none; /* making it horizontal */
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between; /* adding space in between */
  }
  
  #flex-section1 li {
	
  }
  
  #flex-section1 a.btn {
	text-decoration: none;
	background-color: #d31111; /* Bg color for the buttons */
	color: #fff; 
	padding: 8px 16px 8px 16px;; 
	border-radius: 5px; /* Rounded corners effect */
  }

  
/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	display: flex;
	flex-wrap: wrap; /* wrapping effect for desired result */
	justify-content: space-between; /* space added */
	flex-direction: row;
	padding: 0; /* no padding needed */
	list-style: none;
  }
  

#flex-section2 li {
	flex: 1;
	padding: 10px; /* padding for better look */
	box-sizing: border-box;
}

#flex-section2 .item1 {
	order: 1;
}

#flex-section2 .item2 {
	order: 3;  /* changing order for desired results */
}

#flex-section2 .item3 {
	order: 2;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display: flex;
	align-items: center; /* Center vertical */
	justify-content: center; /* Center horizontal */
	flex-direction: column; 
  }
  
  #flex-section3 .tags ul {
	list-style: none;
	padding: 0px 5px 0px 5px;
	display: flex;
	flex-wrap: wrap; /* Allowing tags to wrap when there's not enough space */
	gap: 5px; 
  }
  
  #flex-section3 .tags li {
	background-color: #dad6d6;  /* giving bg color */
	padding: 3px;
	border-radius: 5px;
	margin: 2px;  /* giving margin for desired result */
  }
  

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);  /* giving legth */
	grid-gap: 20px;  /* spacing */
	grid-auto-rows: 100px;
  }
  
  #grid-section1 .greybox {
	background-color: lightgray;  /* bg color added*/
	text-align: left;
	padding: 10px;
  }
  

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	grid-row: 1 / span 4;    /* Positioned the blue for desired results */
	grid-column: 2 / span 2; /* Positioned the blue box for desired results */
	background-color: rgb(29, 29, 153);  
	opacity: 0.6;
	z-index: 1;              /* Ensuring the blue box is on top */
  }
  
  #grid-section2 .gridboxred {
	grid-row: 2 / span 1;    /* Positioned the red box for desired results */
	grid-column: 1 / span 2; /* Positioned the red box for desired results */
	background-color: rgb(178, 45, 45);   
	opacity: 0.8;
	z-index: 0;              /* Ensuring the red box is below */
  }
  

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns: 2fr 1fr; /* keeping 2 columns with a 2:1 ratio */
	grid-template-rows: 100px 300px 100px; /* rows given specified heights */
	gap: 10px; /* added space */
  }
  
  #grid-section3 .box1 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1; 
  }
  
  #grid-section3 .box2 {
	grid-row: 2 / span 1; 
	grid-column: 2 / span 1; 
  }
  
  #grid-section3 .box3 {
	grid-column: 1 / span 1; 
	grid-row: 2 / span 1; 
	
  }
  
  #grid-section3 .box4 {
	grid-row: 3 / span 1; 
	grid-column: 1 / span 2; 
  }
  

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none; /* no font added */
	transition: background-color 3s ease, color 0.5s ease; /* Adding transition for desried results */
  }
  
  #transition-section .box a:hover {
	background-color: #cc0000; /* Bg color - keeping same */
	color: #fff;
	transition: background-color 0.5s ease, color 0.5s ease; /* Adding transition for desried results  */
  }
  

/* end Transition Part */
